/* Card */
.card {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    
  }
  
  .card:hover {
    background-color: #60db89;
    opacity: 0.75;
    color: #000000;
  
    animation: color-change 0.35s ease-in-out;
  }
  
  @keyframes color-change {
    0% {
      background-color: #ffffff;
      color: #60db89;
    }
    100% {
      background-color: #60db89;
      color: #000000;
    }
  }

  /* End card */
  

  /* FAQ Section */

  .faq-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .faq-list li {
    border-bottom: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  
  .faq-list li {
    text-decoration: none;
    font-size: 1rem;
    color: #000;
  }
  
  /* .faq-list li:hover {
    color: #009933;
  } */
  
  .faq-list .faq-content {
    display: none;
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    margin-bottom: 1rem;
    animation: ease-out 0.75s;
  }  
  

  /* End FAQ Section */

  .foot {
    margin-top: -3rem;
  }


  /* star img */

  /* .star-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.star {
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 5px;
    animation: star-twinkle 3s infinite alternate;
}

#star1 {
    animation-delay: 1s;
}

#star2 {
    animation-delay: 2s;
}

#star3 {
    animation-delay: 3s;
}

@keyframes planet-move {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes star-twinkle {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
} */

  /* End star img */